html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

h1, h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

h1 {
  width: 545px;
  height: 40px;
  top: -300px; }

h2 {
  width: 545px;
  height: 40px;
  top: 160px; }

.fuwatText {
  display: block;
  float: left; }

.button {
  background-color: red;
  color: #fff; }
